{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Chào mừng đến với FreelancerVN</h1>
        <p class="col-md-8 fs-4">Nơi kết nối hàng ngàn Freelancer tài năng với các doanh nghiệp hàng đầu.</p>

        <a href="{% url 'job_list_url' %}" class="btn btn-primary btn-lg">Tìm việc ngay</a>

        <a href="{% url 'dashboard_url' %}" class="btn btn-outline-secondary btn-lg">Xem thống kê thu nhập</a>
    </div>
</div>
{% endblock %}